body, html {
    width: 100%;
    height: 100%;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;    
    list-style: none;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.hidden { 
    visibility: hidden; 
}

.wrapper {
    background-color: #ffffff;    
    min-height:100%;
    overflow:hidden;
}
.wrapper:after {
    content: "";
    height: 80px;
    display: block;
}

.container {
    width: 1100px;
    margin: 0 auto; 
    font-family: 'Roboto', sans-serif;    
    font-size: 18px;
    font-weight: 300;   
    color: black;	
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
	position: relative;
}

.header {
    min-height: 76px;
    background-color: #4b73b5;
    margin-bottom: 13px;	
}
.header__logo, .header__contacts {
    width: 50%;
    float: left;
    box-sizing: border-box; 
}
.header__logo {
    margin-top: 20px;
    padding-left: 21px;
}
.header__contacts {
    text-align: right;
    margin-top: 17px;
    margin-bottom: 17px;
    padding-right: 20px;    
}

.logo {
    width: 120px;
    height: 36px;
    overflow: hidden;	
    display: inline-block;
}

.contacts__phone {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 3px;
    display: block;	
}
.contacts__work-time {
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    font-weight: bold;    
    text-decoration: underline;
}

.main {
    margin-bottom: 58px;
}
.main__sidebar {
    width: 199px;
    float: left;
    box-sizing: border-box;
}

.nav {
    margin-top: 28px;
    margin-left: 18px;
}
.nav__list-item {
    margin-bottom: 26px;
}

.nav__list-link {
    display: block;
    color: #4b73b5;
    text-decoration: none;      
}
.nav__list-link.active {
    color: #221f1f;
}
.nav__list-picture {
    width: 23px;
    height: 18px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    overflow: hidden;
    margin-top: 4px;	
}
.nav__list-picture--main {
    background: url(/img/icons/nav_main.png) center center no-repeat;
}
.nav__list-picture--feeds {
    background: url(/img/icons/nav_feeds.png) center center no-repeat;
}
.nav__list-picture--team {
    background: url(/img/icons/nav_team.png) center center no-repeat;
}
.nav__list-name {
    margin-left: 11px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 6px;         
}

.main_content {
    width: 901px;
    float: left;
}

.main__banner {
    vertical-align: top;
}

.section-title {
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
}

.features {
    margin-top: -38px;
    margin-bottom: 51px;
}
.features__list {
    position: relative;
}
.features__title {
    margin-left: -5px;
    margin-bottom: 26px;    
}
.features__list-item { 
    max-width: 250px;    
    margin: 1px 20px 0 0;
    float: left;
}
.features__list-item--best {
    border-radius: 5px;
    border: 1px solid #e8e9ed;
}
.feature {
    text-decoration: none;
    display: block;
    color: black;
}
.feature__logo {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #4b73b5;
    text-align: center;
    margin: 41px auto 35px auto;
    overflow: hidden;
}
.feature__picture {
    padding-top: 18px;
}
.feature__header {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    margin-top: 10px;
    margin-bottom: 17px;
    text-align: center;    
}
.feature__body {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 0 26px;    
    margin-bottom: 22px;    
}
.feature__desc {
    line-height: 30px;
}
.feature__list {
    list-style-type: disc;
    margin-left: 18px;
    text-align: left; 
}
.feature__list-item {
    margin-top: 10px;
    margin-bottom: 14px;
    padding-left: 9px;
}
.feature__price {
    font-family: "Roboto Slab","Roboto",sans-serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 38px;
}
.feature__price::first-letter {
    font-size: 32px;
}

.feeds__title {
    margin-bottom: 68px;
}
.feeds__list-item {
    margin-bottom: 29px;
}

.feed {
    text-decoration: none;
    display: block;
    color: black;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 19px;
}
.feed__logo, .feed__content {
    display: inline-block;
    vertical-align: top;
}
.feed__logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #fff;  
    overflow: hidden;  
    margin-right: 14px; 
}
.feed__content {
    width: 656px;
    font-size: 18px;
    font-weight: 300;
}
.feed__date {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 7px;
}
.feed__title {
    font-weight: 700;
    margin-bottom: 9px;    
}
.feed__desc {
    text-align: justify;    
    font-weight: 300;  
    line-height: 30px;
}

.pagination {
    margin-left: 271px;    
}
.pagination__title, .pagination__buttons {
    display: inline-block;
    vertical-align: middle;
}
.pagination__title {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    margin-right: 10px;
}
.pagination__buttons-nav, .pagination__list, .pagination__list-item {
    display: inline-block;
    vertical-align: middle;
}
.pagination__buttons-nav {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 8px;
}
.pagination__buttons-nav--disabled {
    color: #ccc
}
.pagination__list {
    font-size: 0;
}
.pagination__list-link {
    display: block;
    padding: 6px 0px;
    width: 25px;    
    font-size: 14px;
    font-weight: 700; 
    text-align: center;     
    text-decoration: none;  
    border-radius: 5px;    
    color: #000;            
}
.pagination__list-link--active {
    background: #4b73b5;
    color: #fff;
}

.footer {
    height: 80px;
    background-color: #4b73b5;   
    margin-top: -80px;        
}
.footer__author, .footer__logo, .footer__socials {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300; 
    color: #ffffff;     
    float: left;
    width: 33%;
    box-sizing: border-box;
}
.author {
    padding-left: 20px;
    padding-top: 14px;
    padding-right: 110px;
    line-height: 18px;
}
.author__link {
    text-decoration: none;
}
.author__loftschool {
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
}
.author__name {
    font-weight: 700; 
}  

.footer__logo {
    padding-left: 127px;
    padding-top: 22px;
}

.social {
    text-align: right;
    padding-top: 19px;
    padding-right: 9px;
}
.social__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
}

.social__list {
    padding-right: 11px;
}
.social__list-item {
    background-color: #d2def3;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 4px 0 3px;
}
.social__link {   
    width: 20px;    
    font-size: 0px;
    display: block;
}
.social__picture {
    width: 15px;
    height: 13px;
    overflow: hidden;
    margin: 3px auto;
    background-repeat: no-repeat
}
.social__picture--vkontakte {
    background: url(/img/icons/social_vk.png) center center no-repeat;
}
.social__picture--facebook {
    background: url(/img/icons/social_fb.png) center center no-repeat;
}
.social__picture--google {
    background: url(/img/icons/social_google.png) center center no-repeat;
}
.social__picture--twitter {
    background: url(/img/icons/social_twitter.png) center center no-repeat;
}
.social__picture--mail {
    background: url(/img/icons/social_mail.png) center center no-repeat;
}


