.wrapper {
    width: 100%;
    font-family: 'Roboto', sans-serif;    
    font-size: 18px;
    font-weight: 300;   
    color: black;
    background-color: #ffffff;
}

.container {
    width: 1100px;
    margin: 0 auto;   
}

.header {
    height: 76px;
    background-color: #4b73b5;
}
.header__logo, .header__contacts {
    display: inline-block;
}
.logo {
    width: 120px;
    height: 36px;
    overflow: hidden;
}
.logo_link {
    display: block;
}
.contacts__phone {
    width: 173px;
    height: 22px;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.contacts__work-time {
    width: 102px;
    height: 14px;
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    font-weight: bold;    
    text-decoration: underline;
}

.main__navigation {
    width: 107px;
    height: 116px;
    display: inline-block;
}
.nav__list {
    padding: 0;
    list-style: none;
}
.nav__list-link {
    display: block;
    color: #4b73b5;
    text-decoration: none;      
}
.nav__list-link.active {
    color: #221f1f;
}
.nav__list-picture {
    width: 23px;
    height: 18px;
    display: inline-block;
    overflow: hidden;
}
.nav__main {
    background: url(/img/icons/nav_main.png) center center no-repeat;
}
.nav__feeds {
    background: url(/img/icons/nav_feeds.png) center center no-repeat;
}
.nav__team {
    background: url(/img/icons/nav_team.png) center center no-repeat;
}
.nav__list-name {
    width: 68px;
    height: 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    display: inline-block;       
}

.main_content {
    width: 901px;
    display: inline-block;
}

.main__banner {
    widows: 901px;
    height: 299px;
    overflow: hidden;
}

.section-title {
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
}

.features__list {
    padding: 0;
    list-style: none;
    display: inline-block;
}
.features__list-item {
    width: 250px;
    height: 456px;
    display: inline-block;
}
.features__list-item.best-feature {
    border-radius: 5px;
    border: 1px solid #e8e9ed;
}
.feature {
    text-decoration: none;
    display: block;
    color: black;
}
.feature__logo {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #4b73b5;
    text-align: center;
    margin: 41px auto 32px auto;
    overflow: hidden;
}
.feature__picture {
    padding-top: 18px;
}
.feature__header {
    width: 76px;
    height: 11px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    margin: 10px auto;
}
.feature__body {
    width: 188px;
    height: 151px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}
.feature__list {
    list-style-type: disc;
    list-style-position: inside;
    text-align: left; 
    padding-left: 0px;
}
.feature__list-item {
    margin-top: 10px;
    margin-bottom: 10px;
}
.feature__price {
    font-size: 54px;
    font-weight: 400;
    letter-spacing: -1.07px;
    text-align: center;
}

.feeds__list {
    width: 880px;
    list-style: none;
}
.feed {
    text-decoration: none;
    display: block;
    color: black;
}
.feed__logo, .feed__content {
    display: inline-block;
}
.feed__logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #fff;  
    overflow: hidden;   
}
.visualyhidden { 
    transform: scale(0); 
}
.feed__content {
    width: 656px;
    height: 163px;
    font-size: 18px;
    font-weight: 300;
}
.feed__date {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
}
.feed__title {
    font-weight: 700;
}
.feed__desc {
    text-align: justify;    
    font-weight: 300;  
}

.pages__title, .pages__buttons {
    display: inline-block;
}
.pages__title {
    width: 103px;
    height: 14px;
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-left: 270px;
}
.pages__list {
    width: 265px;
    list-style: none;
    padding-left: 0px;
}
.pages__list-item {
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: 700; 
    text-align: center;    
    display: inline-block;  
}
.pages__list-link {
    display: block;
    text-decoration: none;  
    color: #000;         
}

.pages__buttons {
    width: 225px;
    height: 25px;
    margin-left: 10px;
}

.footer {
    height: 75px;
    background-color: #4b73b5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;    
}
.footer__author, .footer__logo, .footer__socials {
    display: inline-block;
}
.footer__author {
    width: 235px;
    height: 50px;
}
.author__link {
    text-decoration: none;
}
.author__loftschool {
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
}
.author__name {
    font-weight: 700; 
}  

.footer__social {
    width: 155px;
}

.social__title {
    width: 160px;
    height: 14px;
    font-size: 14px;
    font-weight: 700;
}
.social__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}
.social__list-item {
    width: 20px;
    height: 20px;
    background-color: #d2def3;
    border-radius: 50%;   
    display: inline-block;
}
.social__link {   
    font-size: 0px;
    display: block;
}
.social__picture {
    width: 15px;
    height: 13px;
    overflow: hidden;
    margin: 3px auto;
    background-repeat: no-repeat
}
.social__vkontakte {
    background: url(/img/icons/social_vk.png) center center no-repeat;
}
.social__facebook {
    background: url(/img/icons/social_fb.png) center center no-repeat;
}
.social__google {
    background: url(/img/icons/social_google.png) center center no-repeat;
}
.social__twitter {
    background: url(/img/icons/social_twitter.png) center center no-repeat;
}
.social__mail {
    background: url(/img/icons/social_mail.png) center center no-repeat;
}


