a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    font-family: 'Roboto', sans-serif;    
    font-size: 18px;
    font-weight: 300;   
    color: black;
    background-color: #ffffff; 
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    height: 76px;
    background-color: #4b73b5;
}
.header__logo, .header__info {
    display: inline-block;
}
.logo-img {
    width: 120px;
    height: 36px;
    background-image: url(/img/logo/logo-header.png);
    overflow: hidden;
}
.header__phone {
    width: 173px;
    height: 22px;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.header__work-time {
    width: 102px;
    height: 14px;
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    font-weight: bold;    
    text-decoration: underline;
}

.main__nav {
    width: 107px;
    height: 116px;
    list-style: none;
    display: inline-block;
}
.main__nav-elem {
    display: block;
    color: #4b73b5;
}
.main__nav-elem.active {
    color: #221f1f;
}
.main__nav-picture {
    width: 23px;
    height: 18px;
    display: inline-block;
    overflow: hidden;
}
.main__nav-name {
    width: 68px;
    height: 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    display: inline-block;    
}

.main_content {
    width: 901px;
    display: inline-block;
}

.content-title {
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
}
.main__banner {
    widows: 901px;
    height: 299px;
    content: "";
    background: url(/img/picture/banner.png) right center no-repeat;
}
.main__features-list {
    padding: 0;
    list-style: none;
    display: inline-block;
}
.main__features-card {
    width: 250px;
    height: 456px;
    display: inline-block;
}
.main__features-card.the-best {
    border-radius: 5px;
    border: 1px solid #e8e9ed;
}
.main__features-logo {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #4b73b5;
    text-align: center;
    margin: 41px auto 32px auto;
    overflow: hidden;
}
.main__card-picture {
    padding-top: 18px;
}
.main__card-header {
    width: 76px;
    height: 11px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    margin: 10px auto;
}
.main__card-body {
    width: 188px;
    height: 151px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}
.main__card-list {
    list-style-type: disc;
    list-style-position: inside;
    text-align: left; 
    padding-left: 0px;
}
.card-list__item {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main__price {
    /* width: 73px;
    height: 40px; */
    font-size: 54px;
    font-weight: 400;
    letter-spacing: -1.07px;
    text-align: center;
}

.main__feeds-list {
    width: 880px;
    list-style: none;
}
.main__feed-logo, .main__feed-content {
    display: inline-block;
}
.main__feed-logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #fff; 
    overflow: hidden;   
}
.visualyhidden { 
    transform: scale(0); 
}
.main__feed-content {
    width: 656px;
    height: 163px;
    font-size: 18px;
    font-weight: 300;
}
.main__feed-content .main__feed-date {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
}
.main__feed-content .main__feed-title {
    font-weight: 700;
}
.main__feed-content .main__feed-desc {
    text-align: justify;    
    font-weight: 300;  
}

.main__pages-list {
    width: 265px;
    list-style: none;
    padding-left: 0px;
}
.main__pages-title {
    width: 103px;
    height: 14px;
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-left: 270px;
}
.pages-list__item {
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: 700; 
    text-align: center;    
    display: inline-block;  
}
.pages-list__link {
    display: block;
}
.pages-list__symbol {
    color: #000;    
}
.main__pages-title, .main__pages-buttons {
    display: inline-block;
}
.main__pages-buttons {
    width: 225px;
    height: 25px;
    margin-left: 10px;
}

.footer {
    height: 75px;
    background-color: #4b73b5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;    
}
.footer__author, .footer__logo, .footer__social {
    display: inline-block;
}
.footer__author {
    width: 235px;
    height: 50px;
}
.loftschool {
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
}
.author {
    font-weight: 700; 
}   
.footer__social {
    width: 155px;
}
.footer__social-title {
    width: 160px;
    height: 14px;
    font-size: 14px;
    font-weight: 700;
}
.social__icons {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}
.social__logo {
    width: 20px;
    height: 20px;
    background-color: #d2def3;
    border-radius: 50%;   
    display: inline-block;
}
.social__link {
    display: block;
}
.social__picture {
    width: 15px;
    height: 13px;
    overflow: hidden;
    margin: 3px auto;
    position: relative;
}
.social__img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


