.about {
    @include section-prop;

    background-image: url("../img/backgrounds/section_2_bg.jpg");
    color: $color_dark;
}

.about__list {
    display: flex;
    justify-content: space-around;
    width: 87%;
    margin-top: 40px;
}

.about__item {
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about__item-top {
    padding-top: 3px;
    width: 100%;
    height: 90px;
    text-align: center;
}

.about__icon {
    display: inline-block;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    vertical-align: middle;

    &--fresh {
        width: 6em;
        height: 5.5em;
        background-image: url(../img/icons/meat.svg), none;
    }

    &--handmade {
        width: 5em;
        height: 5.5em;
        background-image: url(../img/icons/hand.svg), none;
    }

    &--natural {
        width: 5.5em;
        height: 5em;
        background-image: url(../img/icons/natural.svg), none;
    }
}

.about__item-mid {
    margin-top: 33px;
    font-family: $font_lifehack,serif;
    font-size: rem(24px);
    font-weight: 500;
    line-height: 1.17em;
}

.about__item-bot {
    margin-top: 14px;
    opacity: 0.8;
    font-family: $font_ubuntu,sans-serif;
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.7em;
}
