.header {
    @include flex-prop;

    width: 100%;

    @include tablets {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        padding-top: 2%;
        padding-right: 2.5%;
        padding-left: 3.5%;
    }
}

.header__left {
    margin-right: auto;
}

.header__right {
    @include tablets {
        @include flex-prop;

        align-items: stretch;
        padding-right: 1rem;
    }
}
