.main-section {
    background-image: url("../img/backgrounds/section_1_bg.png");
    background-size: cover;
    height: 100vh;
    max-height: 650px;   
    padding-bottom: 10px;
    padding-top: 10px; 
}