.nav {
    @include font-ubuntu;

    margin-right: rem(18px);

    @include tablets {
        display: none;
    }
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    &:after {
        display: inline-block;
        vertical-align: middle;
        margin: 0 rem(12px);
        content: ' ';

        @include circle(5px, $color_white);
    }

    &:last-child:after {
        display: none;
    }
}

.nav__link {
    color: $color_white;
    font-size: rem(13px);
    font-weight: 400;
    line-height: 1.8;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;

    @include hover-anim-one(text-decoration, underline);
}
