.reviews {
    @include section-prop;

    padding: 0;
    background-color: $color_white;
    color: $color_white;
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.reviews__item {
    width: 25%;
    height: 50%;
    position: relative;
}

.reviews__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    filter: grayscale(100%);
}

.reviews__desc {
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    padding-left: 8%;
    padding-right: 7%;
    padding-top: 17%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include hover-anim-one(opacity, 1);
}

.reviews__person {
    font-family: $font_gagalin, sans-serif;
    font-size: rem(14px);
    font-weight: 400;
}

.reviews__text {
    line-height: 1.76;
    margin-top: 20px;
    margin-bottom: 14px;
    font-family: $font_ubuntu, sans-serif;
    font-size: rem(14px);
    font-weight: 300;
}
