.slide {
    width: 100% / $slide_count;
    height: 100%;

    @include flex-prop;

    position: relative;

    @include tablets {
        flex-direction: column;
    }
}

.slide__left {
    width: 50%;

    @include tablets {
        width: 100%;
        height: 50%;
        padding-top: 5%;
    }


    @include phones {
        // padding-top: 25%;
        height: 54%;
    }
}

.slide__image {
    text-align: right;
    width: 100%;

    @include tablets {
        display: flex;
        align-items: flex-end;
        text-align: center;
        height: 100%;
    }
}

.slide__img {
    margin: 0 auto;
}

.slide__composition {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(90px);
    height: rem(90px);
    // width: 15.5%;
    // height: 14%;
    background-color: rgba($color: $color_orange, $alpha: 0.4);
    border-radius: 5%;
    cursor: pointer;

    @include hover-anim-one(background-color, rgba($color: $color_orange, $alpha: 1));

    &:hover .slide__table {
        left: 100%;
        display: table;
    }

    @include tablets {
        left: 4%;
    }


    @include phones {
        left: 0;
        width: 7rem;
        height: 7rem;
    }
}

.slide__icon {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    fill: $color_white;

    &--composition {
        width: rem(46px);
        height: rem(44px);
        transform: translate(-50%, -70%);

        @include phones {
            width: 3.6rem;
            height: 3.6rem;
        }
    }

    &--nutrition {
        width: rem(60px);
        height: rem(60px);
        top: 0;
        transform: translate(-50%, 0);

        @include phones {
            width: 4.5rem;
            height: 4.5rem;
        }
    }
}

.slide__composition-text {
    display: inline-block;
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "Gagalin";
    font-size: rem(14px);
    font-weight: 400;

    @include phones {
        font-size: 1.1rem;
    }
}

.slide__table {
    display: none;
    position: absolute;
    top: 0;
    background-color: $color_white;
    opacity: 0.9;
    border-radius: rem(5px);
    padding: 1.2rem;
    left: -1000%;

    &:hover {
        cursor: initial;
        user-select: text;
    }
}

.slide__table-cell {
    white-space: nowrap;
    color: $color_dark;
    font-size: rem(14px);
    font-weight: 600;

    &:first-child {
        display: inline-block;
        width: 4rem;
    }

    &--weight {
        text-align: right;
        padding-left: 3.8rem;
        font-weight: 400;
    }
}

.slide__table-icon {
    width: 2.8rem;
    height: 2.8rem;

    &--beef {
        fill: $color_orange;
    }

    &--buns {
        fill: $color_yellow;
    }

    &--salad {
        fill: $color_green;
    }

    &--sauce {
        fill: $color_orange;
    }

    &--cucumber {
        fill: $color_green;
    }

    &--cheese {
        fill: $color_yellow;
    }
}

.slide__nutrition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: rem(60px);
    height: rem(80px);
    // width: 10.5%;
    // height: 12.5%;    
    opacity: .5;

    @include tablets {
        left: initial;
        top: 0;
        right: 4%;
    }


    @include phones {
        width: 5rem;
        height: 7rem;
        right: 0;
    }
}

.slide_nutrition-text {
    display: inline-block;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "Gagalin";
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;

    @include phones {
        bottom: 5%;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

.slide__right {
    width: 50%;
    height: 78%;
    padding-left: 1%;
    padding-bottom: 7%;
    padding-top: 5%;
    text-align: left;

    @include tablets {
        text-align: center;
        width: 100%;
        // padding: 5% 0 0 0;
        // padding: 0;
    }


    @include phones {
        padding-top: 3%;
    }
}

.slide__title {
    width: 80%;
    line-height: rem(63.93px);

    @include tablets {
        width: 100%;
        font-size: 3rem;
        line-height: 3rem;
    }
}

.slide__desc {
    width: 90%;
    margin-top: 10%;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(23.97px);

    @include tablets {
        width: 100%;
        font-size: 0.93rem;
        line-height: 1.598rem;
        margin-top: 3%;
    }

    @include phones {
        margin: 6% auto 0;
        width: 94%;
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}

.slide__order {
    margin-top: 9%;
    vertical-align: middle;

    @include tablets {
        margin-top: 4%;
    }

    @include phones {
        margin-top: 6%;
    }
}

.slide__price {
    font-family: $font_gagalin;
    color: $color_orange;
    font-size: rem(72px);
    letter-spacing: rem(-1.79px);
    line-height: rem(28.08px);

    @include phones {
        font-size: 3.8rem;
    }
}

.slide__price-number {
    font-size: rem(30px);
    font-weight: 400;
    letter-spacing: rem(-0.75px);

    @include phones {
        font-size: 1.8rem;
    }
}

.slide__link {
    display: inline-block;
}
.slide__button {
    vertical-align: super;
}
