.contacts {
    @include section-prop;
    @include flex-prop;
    flex-direction: column;
}

.contacts__content {
    @include flex-prop;

    align-items: center;
    flex-grow: 1;
}
.contacts__text {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.contacts__title {
    color: #506a85;
    font-family: 'Lato', sans-serif;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.44px;
    line-height: 54px;
}

.contacts__desc {
    color: #73879c;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 34px;
}
