.contacts {
    @include section-prop;
    @include flex-prop;

    height: 45vh;
    align-items: center;
}

.contacts__wrap {
    @include section-inner-wrap;
}

.contacts__text {
    max-width: 750px;
}

.contacts__buttons {
    @include button-prop(150px, 50px);

    margin: 3vh auto 0;

    @include hover-anim-one(background-color, $button-color-hover);
}
