.header {
    @include flex-prop;

    flex-direction: column;
    background-color: #ffffff;
}

.header__top {
    @include flex-prop;

    box-shadow: $header-box-shadow;
    background-color: #f5f7fa;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header__links {
    @include flex-prop;

    justify-content: space-between;
    align-items: center;
}

.header__contacts {
    @include flex-prop;
}

.header__contacts-item {
    margin-right: 16px;
    padding-left: 19px;
    color: #506a85;
    font-size: 12px;
    font-weight: 400;
    position: relative;

    @include hover-anim-one(color,$button-color);

    &:last-child {
        margin-right: 0;
    }
}



.header__contacts-item--mail {
    &:before {
        @include item--icon-before(50%,0,-50%);

        width: 11px;
        height: 9px;
        background: url("../img/contacts-icon-mail-1.png") center center no-repeat;
    }

    &:hover:before {
        background: url("../img/contacts-icon-mail-2.png") center center no-repeat;
    }
}

.header__contacts-item--phone {
    &:before {
        @include item--icon-before(50%,0,-50%);

        width: 7px;
        height: 13px;
        background: url("../img/contacts-icon-phone-1.png") center center no-repeat;
    }
}

.header__bottom {
    @include flex-prop;

    padding-top: 37px;
    padding-bottom: 32px;
}

.header__bottom-wrap {
    @extend .header__links;
}

.header__nav {
    width: 50%;
}
