.navigation {
    @include flex-prop;
    justify-content: space-between;
    width: 100%;
}

.navigation__item {
    display: block;
    color: #506a85;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
