.portfolio {
    @include section-prop;

    background-color: #f2f5f7;
    padding-top: 10vh;
    padding-bottom: 15vh;
}

.portfolio__wrap {
    @include section-inner-wrap;
}

.portfolio__top {
    max-width: 747px;
}

.portfolio__middle {
    @include flex-prop;

    justify-content: center;
    width: 100%;
    padding-top: 5vh;
}

.portfolio__bottom {
    padding-top: 5vh;
}
