* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*, *:before, *:after {
    box-sizing: border-box;
}

*, *:focus, *:active {
    outline: none;
}

body, html {
    font-family: sans-serif;
    cursor: default;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, ol, li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: inherit;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.hidden {
    visibility: hidden;
}

$footer-width: 154px;

.wrapper {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;

    &:after {
        content: "";
        height: $footer-width;
        display: block;
    }
}

.container {
    width: 1170px;
    // width: 60vw;
    min-width: 570px;
    margin: 0 auto;
    padding-left: 11px;
    padding-right: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;

    // font-family: 'Lato', sans-serif;
}
