.about {
    @include section-prop;

    background-image: url("../img/backgrounds/section_2_bg.jpg");
    color: $color_dark;
    padding-bottom: 35px;
}

.about__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.about__item {
    width: 32%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about__item-top {
    padding-top: 3px;
    width: 100%;
    height: 90px;
    text-align: center;
}

.about__icon {
    display: inline-block;
    width: 97px;
    height: 89px;

    &--fresh {
        fill: #E35028;
    }

    &--handmade {
        fill: #F9B43B;
    }

    &--natural {
        fill: #8BC03F;
    }
}

.about__item-mid {
    margin-top: 33px;
    font-family: $font_lifehack, serif;
    font-size: rem(24px);
    font-weight: 500;
    line-height: 1.17em;
}

.about__item-bot {
    margin-top: 15px;
    opacity: 0.8;
    font-family: $font_ubuntu, sans-serif;
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.7em;
}
