.contacts {
    background-image: url("../img/backgrounds/section_8_bg.jpg");
}

.contacts__content {
    @include section-prop;

    display: flex;
    flex-direction: column;

}

.contacts__address {
    padding-bottom: rem(3px);
    font-family: $font_ubuntu;
    font-weight: 300;
    line-height: rem(22px);
    letter-spacing: rem(-0.2px);

    @include tablets {
        padding-bottom: rem(8px);
    }


    @include phones {
        padding: 0.8rem 0;
    }
}

.contacts__phone {
    position: relative;
    display: inline-block;
    padding-left: rem(20px);
    font-family: $font_ubuntu;
    color: $color_orange;
    font-weight: 700;
    letter-spacing: rem(-0.8px);

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: rem(11px);
        height: rem(11px);
        background-image: url("../img/icons/phone.svg");
        transform: translateY(-50%);
    }
}

.contacts__link {
    display: inline-block;
    margin-left: rem(16px);

    &:first-child {
        margin-left: 0;
    }
}

.contacts__icon {
    vertical-align: middle;
    fill: rgba($color_dark, 0.9);

    // width: rem(20px);
    // height: rem(20px);
    width: 1.3rem;
    height: 1.3rem;

    @include hover-anim-one(fill, $color_white);

    @include phones {
        width: 1.7rem;
        height: 1.7rem;
    }
}
