.main-section {
    @include section-prop;

    background-image: url("../img/backgrounds/section_1_bg.jpg");
    padding-bottom: 40px;
    padding-top: 10px;  

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url("../img/backgrounds/texture.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
