.menu {
    @include section-prop;

    background-image: url("../img/backgrounds/section_5_bg.jpg");
}

.menu__container {
    height: 100%;
    padding-left: 8.5%;

    @include flex-prop;

    justify-content: space-between;

    @include tablets {
        padding-left: 3.5%;
    }
}

.menu__title {
    margin-top: 9%;
    align-self: flex-start;

    @include tablets {
        margin-top: 6.5rem;
    }


    @include phones {
        margin-left: 3.5rem;
        margin-top: 3.5rem;
    }
}

.menu__accordeon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 29%;
    display: flex;
    justify-content: flex-end;

    @include tablets {
        left: 0;
    }
}

.menu__accordeon-item {
    display: flex;

    &--active {
        .menu__item-header {
            color: $color_yellow;
        }

        .menu__item-content {
            width: 100%;
        }
    }
}

.menu__accordeon-trigger {
    display: block;
    width: rem(80px);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include tablets {
        width: 5.35rem;
    }
}

.menu__item-header {
    position: absolute;
    left: 18%;
    top: 94%;
    font-family: $font_gagalin, sans-serif;
    font-size: rem(40px);
    font-weight: 400;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    white-space: nowrap;
}

.menu__item-content {
    width: 0;
    background-color: rgba($color: $color-dark, $alpha: 0.9);
}

.menu__item-desc {
    padding: 10% 6%;
    font-family: $font_ubuntu;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    letter-spacing: rem(-0.3px);

    @include phones {
        font-size: 1.1rem;
    }
}
