.order {
    @include section-prop;

    background-image: url("../img/backgrounds/section_7_bg.jpg");
}

.order__title {
    margin-bottom: 4%;
    text-align: center;

    @include tablets {
        margin-bottom: 2.2rem;
    }

    @include phones {
        margin-bottom: 1.7rem;
        width: 80%;
    }
}

.order__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: $color_dark, $alpha: 0.92);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.order__popup {
    position: relative;
    background-color: $color_white;
    border-radius: 5px;
    text-align: center;
    padding: 3%;

    @include tablets {
        padding: 5%;
    }
}
.order__popup-header {
    white-space: nowrap;
    color: #2f3234;
    font-size: rem(14px);
    font-weight: 300;
    margin-bottom: 7%;

    @include phones {
        font-size: 1rem;
    }
}


