.reviews {
    @include section-prop;

    background-color: $color_white;
    color: $color_white;
}

.reviews__container {
    position: relative;
    width: 100%;
    height: 100%;

    @include tablets {
        min-height: 1024px;

        // min-height: 100%;
    }


    @include phones {
        min-height: 800px;
    }
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.reviews__item {
    width: 25%;
    height: 50%;
    position: relative;

    @include tablets {
        width: 50%;
        height: 25%;
    }
}

.reviews__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    filter: grayscale(100%);
}

.reviews__desc {
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include hover-anim-one(opacity, 1);

    @include tablets {
        text-align: center;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 5%;
    }


    @include phones {
        padding-top: 3rem;
    }
}

.reviews__person {
    font-family: $font_gagalin, sans-serif;
    font-size: rem(14px);
    font-weight: 400;

    @include phones {
        font-size: 1.8rem;
    }
}

.reviews__text {
    line-height: 2.5vh;
    margin-top: rem(20px);
    margin-bottom: rem(14px);
    font-family: $font_ubuntu, sans-serif;
    font-size: rem(14px);
    font-weight: 300;

    @include tablets {
        margin-top: 3%;
        margin-bottom: 3%;
    }


    @include phones {
        font-size: 0;
    }
}
