.team {
    @include section-prop;

    background-image: url("../img/backgrounds/section_3_bg.jpg");
}

.team__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 51%;
    padding: 8.2% 5% 0 8.8%;
    background-color: $color_dark;
    opacity: 0.93;

    @include tablets {
        left: 0;
        text-align: center;
        padding-top: 13.5rem;
    }

    @include phones {
        padding-top: 10.5rem;
    }
}

.team__title {
    line-height: 1.2;
    margin-bottom: 10.5%;

    @include tablets {
        margin-bottom:  2.8rem;
    }    

    @include phones {
        margin-bottom: 2rem;
    }
}

.team__accordeon-item {
    margin-bottom: 4%;

    @include tablets {
        margin-bottom: 1rem;
    }

    @include phones {
        margin-bottom: 1.4rem;
    }

    &--active {
        .team__item-header {
            color: $color_yellow;

            &:before {
                transform: rotate(-540deg);
            }
        }

        .team__item-content {
            height: rem(130px);
            padding-bottom: 6%;

            @include tablets {
                height: 14rem;
                padding-left: 0;
                padding-bottom: 1.5rem;                
            }

            @include phones {
                height: 16rem;
                padding-bottom: 1rem;
            }
        }
    }

    &:last-child {
        margin: 0;
    }
}

.team__item-header {
    padding-left: 5%;
    margin-bottom: 4.5%;
    display: inline-block;
    font-family: $font_gagalin, sans-serif;
    font-size: rem(14px);
    font-weight: 400;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 37%;
        left: -3%;
        border-top: rem(7px) solid $color-yellow;
        border-left: rem(5px) solid transparent;
        border-right: rem(5px) solid transparent;
        transform-origin: center;

        transition: all 1s ease-in-out;
    }

    @include tablets {
        font-size: rem(25px);
        margin-bottom: 1rem;        
    }

    @include phones {
        font-size: 1.8rem;
    }
}

.team__item-content {
    display: flex;
    height: 0;
    overflow: hidden;
    padding-left: 5%;

    transition: height 0.5s ease-in-out;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.team__item-img {
    width: rem(100px);
    height: rem(100px);
    background-position: 70%;
    background-size: cover;
    border-radius: 50%;

    @include tablets {
        width: 6.5rem;
        height: 6.5rem;
    }

    @include phones {
        width: 7.5rem;
        height: 7.5rem;        
    }
}

.team__item-desc {
    width: 60%;
    margin-left: 5%;
    font-family: $font_ubuntu, sans-serif;
    font-size: rem(14px);

    @include tablets {
        margin-left: 0;
    }

    @include phones {
        width: 87%;
        font-size: 1rem;
    }
}

.team__item-post {
    margin-bottom: 5%;
    font-weight: 700;
    line-height: 1rem;

    @include tablets {
        margin-top: 5%;
    }

    @include phones {
        margin-top: 8%;
    }
}

.team__item-text {
    font-weight: 300;
    line-height: 1.5rem;
    @include phones {
        line-height: 1.7rem;
    }
}
