.contacts__phone {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 3px;
    display: block;	
}
.contacts__work-time {
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    font-weight: bold;    
    text-decoration: underline;
}