.crew__list {
    padding-top: 40px;
    padding-bottom: 14px;
    font-size: 0;
}
.crew__item {
    width: 257px;
    display: inline-block;
    margin-right: 30px;
    padding-left: 13px;
    padding-bottom: 45px;
    vertical-align: top;
}
.crew__item:last-child {
    margin-right: 0;
    padding-bottom: 0;
}
.crew__image {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;  
    background-position: center center;
    overflow: hidden;     
    position: relative;
}
.crew__image::before {
    content: "";
    background-color: #4b73b5;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.crew__name {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;    
}
.crew__text {
    padding-top: 18px;
    text-align: center;
}
.crew__head-title, .crew__name, .crew__title, .crew__post, .crew__description {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.crew__title {
    font-size: 18px;
}
.crew__post {
    color: #4b73b5;
    font-weight: 700;
    font-size: 14px;
    padding-top: 4px;
    font-family: 'Roboto Mono', 'Roboto', sans-serif;
}
.crew__description {
    font-weight: 300;
    font-size: 14px;
    padding-top: 7px;
    line-height: 1.5em;    
}