.new-comment {
    padding-top: 58px;
    padding-bottom: 50px;    
}
.new-comment__wrap {
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
    width: 700px;    
}
.new-comment__form {
    padding-top: 41px;
    padding-left: 69px;  
    padding-bottom: 34px;      
}
.new-comment__title {
    margin-bottom: 0px;
}
.new-comment__fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.new-comment__name {
    margin-top: 15px;
}
.new-comment__label-input {
    color: #221f1f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    display: block;
    float: left;
    margin-bottom: 17px;
    margin-right: 24px;  
    width: 269px;
}
.new-comment__input-text {
    display: block;
    background-color: #fff; 
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #221f1f;
    opacity: 0.6;       
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;    
    margin-top: 6px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
}
.new-comment__input-text:focus, .new-comment__input-textarea:focus {
    outline: none;
    border: 1px solid #4b73b5;
    opacity: 1;  
}
.new-comment__commentary-textarea {
    margin-top: 2px;
    margin-bottom: 18px;
    width: 561px;       
}
.new-comment__label-textarea {
    color: #221f1f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    display: block;
}
.new-comment__input-textarea {
    display: block;
    margin-top: 6px;  
    border: 1px solid #fff;
    opacity: 0.6;   
    border-radius: 5px;    
    width: 100%;
    resize: none;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 18px;
    padding-left: 9px;    
    box-sizing: border-box;    
}
.new-comment__buttons {
    margin-top: 0;
    margin-bottom: 13px;
    width: 561px;     
}
.new-comment__label-radio {
    color: #221f1f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 7px;
}
/* Радиобаттоны */
.new-comment__custom {
    float: left;
}
.new-comment__custom-radiobutton {
    margin-right: 14px;
}
.new-comment__custom-radio-real {
    display: none;
}
.new-comment__radio-custom {
	width: 20px;
	height: 20px;
    border: 1px solid #c9c9c9;
	border-radius: 3px;
    position: relative;
}
.new-comment__radio-custom,
.new-comment__custom-label {
	display: inline-block;
    vertical-align: middle;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;    

    transition: color .3s, border .3s;
}

.new-comment__custom-radio-real:hover + .new-comment__radio-custom {
    cursor: pointer; 
    border: 1px solid #4b73b5;
}
.new-comment__custom-radio-real:hover ~ .new-comment__custom-label {
    cursor: pointer; 
    color: #1c5bc3;
}
.new-comment__custom-radio-real:checked + .new-comment__radio-custom {
    border: 1px solid #4b73b5;
}
.new-comment__custom-radio-real:checked ~ .new-comment__custom-label {
    color: #1c5bc3;
}
.new-comment__custom-radio-real:checked + .new-comment__radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	left: 6px;
    background-color: #4b73b5;
    border-radius: 2px;
}
.new-comment__radio-custom,
.new-comment__custom-radio-real:checked + .new-comment__radio-custom::before {
	border-radius: 50%;
}

/* Кнопка Отправить */
.new-comment__simple-button {
    text-align: right;
}
.new-comment__button-send {
    margin-top: 3px;
    width: 154px;
    height: 45px;
    background-color: #4b73b5;
    border: 1px solid #4b73b5;
    border-radius: 3px;    

    transition: border-color .3s, background-color .3s;
}
.new-comment__button-send-layout {
    display: block;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-right: 23px;
    position: relative;    

    transition: color .3s;
}
.new-comment__button-send-layout:after {
    content: "";
    position: absolute;
    top: -3px;
    right: 13px;
    width: 17px;
    height: 18px;
    background-image: url("/img/icons/button_white.png"); 
    background-repeat: no-repeat;
    background-position: center;

    transition: background-image .3s;
}
.new-comment__button-send:hover {
    cursor: pointer;
    border-color: #fff;
    background-color: #fff;
}
.new-comment__button-send:hover .new-comment__button-send-layout { 
    color: #1c5bc3;
}
.new-comment__button-send:hover .new-comment__button-send-layout:after{
    background-image: url("/img/icons/button_blue.png"); 
}