@mixin set-button-colors($color, $hover_color) {
    background-color: $color;
    border: rem(1px) solid $color;

    @include hover-anim-many((background-color $hover_color, border-color $hover_color));
}

.button {
    display: inline-block;
    text-transform: uppercase;
    font-size: rem(13px);
    font-weight: 500;
    border-radius: rem(3px);
    cursor: pointer;
    padding: rem(10px) rem(15px);

    @include tablets {
        font-size: 1rem;
        padding: rem(10px) rem(18px);
    }
}

.button--next {
    position: absolute;
    bottom: 5%;
    left: 50%;
    padding: 0;
    width: rem(30px);
    height: rem(15px);
    font-size: 0;
    transform: translateX(-50%);

    @include tablets {
        bottom: 4%;
    }
}

.button__icon--arrow-scroll {
    width: 100%;
    height: 100%;
    fill: $color_white;
}

.button--order {
    color: $color_white;
    @include set-button-colors($color_orange, $color_orange_hover);
}

.button--more {
    padding-left: rem(13px);
    padding-right: rem(13px);

    @include set-button-colors($color_dark, $color_dark_hover);
}

.button--clear {
    background-color: transparent;
    border-color: transparent;
    color: $color_white;
    font-size: rem(14px);
    margin-left: rem(22px);
    padding: 0;
    text-transform: capitalize;

    @include hover-anim-one(color, $color_orange);
}
