.button {
    display: inline-block;
    text-transform: uppercase;
    font-size: rem(13px);
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 15px;
}

.button--next {
    z-index: 10;
    padding: 0;
    width: rem(30px);
    height: rem(15px);
    background-image: url("../img/icons/arrow-scroll.svg");
    background-repeat: no-repeat;
    font-size: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@mixin set-button-colors($color, $hover_color) {
    background-color: $color;
    border: 1px solid $color;

    @include hover-anim-many((background-color $hover_color, border-color $hover_color));
}

.button--order {
    @include set-button-colors($color_orange, $color_orange_hover);
}

.button--more {
    padding-top: 12px;
    padding-bottom: 12px;

    @include set-button-colors($color_dark, $color_dark_hover);
}
