.form__elem {
    @include flex-prop;

    align-items: flex-start;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.form__column {
    width: 49%;

    @include flex-prop;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    @include tablets {
        width: 63%;
        margin-top: 0.45rem;
    }


    @include phones {
        width: 97%;
        margin-top: 0.7rem;
    }
}

.form__row {
    @include flex-prop;

    margin-bottom: rem(15px);

    &:last-child {
        margin-bottom: 0;
    }

    &--buttons {
        justify-content: flex-start;

        @include tablets {
            margin-top: 1.3rem;
        }


        @include phones {
            justify-content: center;
        }
    }

    @include phones {
        margin-bottom: 1.2rem;
    }


    &--phones_text_center {
        @include phones {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 1.2rem;
        }
    }
}

.form__block {
    flex: 1;
    margin-left: rem(20px);

    &:first-child {
        margin-left: 0;
    }

    &--phones_disabled {
        @include phones {
            display: none;
        }
    }
}

.form__block-title {
    font-family: $font_ubuntu;
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.5rem;

    @include transition;

    @include tablets {
        line-height: 2rem;
    }


    @include phones {
        font-size: 1.1rem;
        line-height: 2rem;
    }
}

.form__block-input, .form__block-area {
    padding: rem(4px) rem(21px);
    border: none;
    border-radius: rem(5px);
    width: 100%;
    border: rem(2px) solid $color_white;
    color: $color_dark;
    font-family: $font_ubuntu;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);

    &:focus {
        border: rem(2px) solid $color_yellow;
    }

    @include phones {
        font-size: 1.6rem;
    }
}

.form__block-area {
    resize: none;
    overflow: hidden;

    @include phones {
        height: 8.5rem;
    }
}

/* Радиобаттоны */
.form__custom-radiobutton {
    margin-right: rem(12px);
    cursor: pointer;
}

.form__custom-radio-real {
    display: none;
}

.form__radio-custom {
    margin-right: rem(5px);
    width: rem(16px);
    height: rem(16px);
    background-color: $color_white;
    border: rem(1px) solid $color_white;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    @include transition;
}

.form__custom-radio-real:hover ~ .form__block-title {
    color: $color_orange;
}

.form__custom-radio-real:hover + .form__radio-custom {
    border: rem(1px) solid $color_orange;
}

.form__custom-radio-real:checked + .form__radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(8px);
    height: rem(8px);
    background-color: $color_orange;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Чекбокс */
.form__custom-checkbox {
    margin-right: rem(12px);
    cursor: pointer;
}

.form__custom-checkbox-real {
    display: none;
}

.form__checkbox-custom {
    margin-right: rem(5px);
    width: rem(16px);
    height: rem(16px);
    background-color: $color_white;
    border: rem(1px) solid $color_white;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    @include transition;
}

.form__custom-checkbox-real:hover ~ .form__block-title {
    color: $color_orange;
}

.form__custom-checkbox-real:hover + .form__checkbox-custom {
    border: rem(1px) solid $color_orange;
}

.form__custom-checkbox-real:checked + .form__checkbox-custom::before {
    display: block;
    content: "";
    position: absolute;
    width: rem(7px);
    height: rem(9px);
    border-right: rem(3px) solid $color_orange;
    border-bottom: rem(3px) solid $color_orange;
    transform-origin: center bottom;
    transform: rotate(45deg);
}

.form__buttons {
    @include flex-prop;

    justify-content: flex-start;
}
