.global-menu {
    position: fixed;
    top: rem(90px);
    right: rem(50px);

    @include tablets {
        display: none;
    }
}

.global-menu__item {
    margin-bottom: rem(5px);

    &.active {

        .global-menu__link {
            &::after {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

    }
}

.global-menu__link {
    display: block;
    width: rem(16px);
    height: rem(16px);
    cursor: pointer;
    position: relative;

    &::before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include circle(5px, $color_white);
    }

    &::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border: rem(1px) solid $color_white;
        border-radius: 50%;

        @include transition;
    }

    &:hover:after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
