.slider {
    @include flex-prop;

    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.slider__picture {
    width: 417px;
    height: 424px;
}

.slider__desc {
    padding-top: 70px;
    padding-left: 18px;
    max-width: 40%;
}

.slider__title {
    color: #f9b43b;
    line-height: 85px;
}

.slider__text {
    padding-top: 20px;
    color: #ffffff;
    font-family: "Lifehack",sans-serif;
    font-size: 65px;
    font-weight: 500;
    letter-spacing: -1.63px;
    line-height: 62px;
}
