.top-slider {
    @include flex-prop;

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.top-slider__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.top-slider__img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-49%,-5%);
}

.top-slider__desc {
    padding-top: rem(25px);
    margin-left: rem(15px);
    flex: 1;
}

.top-slider__title {
    color: $color_yellow;
    line-height: 1.2;
}

.top-slider__text {
    margin-top: rem(20px);
    color: $color_white;
    font-family: $font_lifehack,sans-serif;
    font-size: rem(65px);
    font-weight: 500;
    letter-spacing: -1.63px;
    line-height: rem(62px);
}
