.breadcrumbs {
    margin-left: 2px;
    margin-top: 25px;
    margin-bottom: 17px;
}
.breadcrumbs__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.breadcrumbs__item:after {
    content: "/";
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;    
    color: #221f1f;
    opacity: .8;
    margin-left: -3px;
}
.breadcrumbs__item:last-child:after {
    display: none;
}
.breadcrumbs__item-link {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #1c5bc3;
}
.breadcrumbs__item-link_active {
    color: #221f1f;
    opacity: .8;
    text-decoration: none;
    pointer-events: none;
}
