.contacts__phone {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: block;	
}
.contacts__work-time {
    display: inline-block;
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    font-weight: bold;    
    cursor: pointer;
    position: relative;
}
.contacts__work-time-title {
    text-decoration: underline;
}
.contacts__dropdown {
    box-sizing: border-box;
    margin-top: 20px;
    position: absolute;
    border-radius: 2px;
    background-color: #fff;
    color: #1c5bc3;
    line-height: 1.5em;
    width: 164px;
    height: 70px;
    padding-top: 13px;
    padding-left: 20px;
    top: 100%;
    right: -9999px;
    /* right: -2px; */
    z-index: 10;
    box-shadow: 3px 4px 5px rgba(23, 59, 117, 0.55);
    opacity: 0.95;
}
.contacts__dropdown::before {
    content: "";
    display: block;
    height: 20px;
    top: -20px;
    right: 0;
    left: 0;
    position: absolute;
}
.contacts__dropdown::after {
    content: "";
    border: 12px solid transparent; /* Прозрачные границы */
    border-bottom: 12px solid white; /* Добавляем треугольник */
    display: block;
    top: -22px;
    right: 3px;
    position: absolute;
}
.contacts__dropdown-item {
    text-decoration: none;
    text-align: left;
}
.contacts__dropdown-item--lanch {
    color: black;
    font-weight: 300;
}
.contacts__work-time:hover .contacts__dropdown {
    right: -2px;
}