.feature {
    text-decoration: none;
    display: block;
    color: black;
    padding-top: 41px;
    padding-bottom: 38px;    
}
.feature__logo {
    margin: 0 auto 35px auto;
    display: block;
    width: 68px;
    height: 68px; 
    background-color: #4b73b5;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
}
.feature__logo::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.feature__logo--standart::before {
    width: 27px; 
    height: 31px;
    background: url('/airplanet/img/icons/css_sprites.png') -62px -10px;
}
.feature__logo--premium::before {
    width: 32px; 
    height: 32px;
    background: url('/airplanet/img/icons/css_sprites.png') -10px -10px;
}
.feature__logo--luxury::before {
    width: 28px; 
    height: 29px;
    background: url('/airplanet/img/icons/css_sprites.png') -109px -10px;
}
.feature__header {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.21em;
    margin-top: 10px;
    margin-bottom: 17px;
    text-align: center;    
}
.feature__body {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 0 26px;    
    margin-bottom: 22px;    
}
.feature__desc {
    line-height: 1.7em;
}
.feature__list {
    list-style-type: disc;
    margin-left: 18px;
    text-align: left; 
}
.feature__list-item {
    margin-top: 10px;
    margin-bottom: 14px;
    padding-left: 9px;
}
.feature__price {
    font-family: "Roboto Slab","Roboto",sans-serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
}
.feature__price::first-letter {
    font-size: 32px;
}