.nav {
    margin-top: 30px;
    margin-left: 22px;
    max-width: 177px;            
}
.nav__list-item {
    margin-bottom: 30px;
    max-width: 120px;
}
.nav__list-item:last-child {
    margin-bottom: 0;
}
.nav__list-link {
    display: block;
    color: #4b73b5;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;    
    text-decoration: none; 
    padding-top: 6px;         
    padding-left: 36px; 
    position: relative; 

    transition: color .3s;
}
.nav__list-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 17px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
}
.nav__list-link:hover {
    color: #000;
}
.nav__list-link--active .nav__list-link {
    color: #000;
    pointer-events: none;
}

.nav__list-link--active .nav__list-link--main::before,
.nav__list-link--main:hover::before {
    width: 17px; height: 18px;
    background: url('/airplanet/img/icons/css_sprites.png') -50px -100px;
}
.nav__list-link--active .nav__list-link--feeds::before,
.nav__list-link--feeds:hover::before {
    width: 20px; height: 18px;
    background: url('/airplanet/img/icons/css_sprites.png') -10px -100px;
}
.nav__list-link--active .nav__list-link--team::before,
.nav__list-link--team:hover::before {
    width: 23px; height: 18px;
    background: url('/airplanet/img/icons/css_sprites.png') -53px -62px;
}

.nav__list-link--main::before {
    width: 17px; height: 18px;
    background: url('/airplanet/img/icons/css_sprites.png') -87px -100px;

    transition: background-image .3s;
}
.nav__list-link--feeds::before {
    width: 20px; height: 18px;
    background: url('/airplanet/img/icons/css_sprites.png') -96px -62px;

    transition: background-image .3s;
}
.nav__list-link--team::before {
    width: 23px; height: 18px;
    background: url('/airplanet/img/icons/css_sprites.png') -10px -62px;

    transition: background-image .3s;
}