.questions {
    background-color: #4bb56b;
    background-image: url("/airplanet/img/picture/questions_back.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 40px 230px;
    margin-top: 7px;
    box-sizing: border-box    
}
.questions__title {
    margin: 0;
    padding: 0;
    font-size: 0;
}
.questions__text {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7em;
}
.questions__link, .questions__phone  {
    font-weight: 700;
    color: #fff;
}
.questions__phone {
    text-decoration: none;
}