
.social {
    text-align: right;
    padding-top: 6px;
    padding-right: 7px;
}
.social__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
}
.social__list {
    padding-right: 11px;
    float: right;
}
.social__list-item {
    float: left;
    margin: 0px 5px;

}
.social__link {   
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px; 
    background-color: #d2def3;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;

    transition: background-color .3s;
}
.social__link::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.social__link:hover {
    background-color: #fff;
}
.social__link--vkontakte::before {
    width: 12px; height: 7px;
    background-image: url('/airplanet/img/icons/css_sprites.png');
    background-position: -10px -138px;
}
.social__link--facebook::before {
    width: 6px; height: 13px;
    background-image: url('/airplanet/img/icons/css_sprites.png');
    background-position:  -192px -10px;
}
.social__link--google::before {
    width: 15px; height: 9px;
    background-image: url('/airplanet/img/icons/css_sprites.png');
    background-position: -157px -78px;
}
.social__link--twitter::before {
    width: 11px; height: 9px;
    background-image: url('/airplanet/img/icons/css_sprites.png');
    background-position: -124px -100px;
}
.social__link--mail::before {
    width: 12px; height: 9px;
    background-image: url('/airplanet/img/icons/css_sprites.png');
    background-position: -157px -107px;
}